# dotnet
bin/Debug
bin/Release
obj
dotfiles.sln
*.pdb

# Visual Studio
.vs

# Dotfiles
bin/dotfiles.exe
bin/dotfiles.dll
bin/dotfiles

# Backup files
*.bak

# Personalization
*omp.json
completions.ps1